<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDVirtualCOM2TCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EDVirtualCOM2TCP.Properties.Settings>
            <setting name="IP_Address" serializeAs="String">
                <value>192.168.1.127</value>
            </setting>
            <setting name="IP_Port" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="COM_num" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="com0com_path" serializeAs="String">
                <value>%ProgramFiles(x86)%\com0com</value>
            </setting>
            <setting name="hub4com_path" serializeAs="String">
                <value>hub4com</value>
            </setting>
            <setting name="hub4com_options" serializeAs="String">
                <value>--create-filter=escparse,com,parse   --create-filter=pinmap,com,pinmap:"--rts=cts --dtr=dsr" --create-filter=linectl,com,lc:"--br=local --lc=local" --add-filters=0:com --create-filter=telnet,tcp,telnet:" --comport=client"   --create-filter=pinmap,tcp,pinmap:"--rts=cts --dtr=dsr --break=break" --create-filter=linectl,tcp,lc:"--br=remote --lc=remote" --octs=off </value>
            </setting>
            <setting name="hub4com_download" serializeAs="String">
                <value>https://sourceforge.net/projects/com0com/files/hub4com</value>
            </setting>
            <setting name="com0com_download" serializeAs="String">
                <value>https://sourceforge.net/projects/com0com/files/latest/download</value>
            </setting>
            <setting name="service_delay" serializeAs="String">
                <value>1</value>
            </setting>
        </EDVirtualCOM2TCP.Properties.Settings>
    </applicationSettings>
</configuration>